Tarefa 01

Leia os enunciados com atenção
Saiba que pode haver mais de uma resposta correta
Insira novas células de código sempre que achar necessário
Em caso de dúvidas, procure os tutores
Divirta-se :)
1) crie uma série do pandas a partir de uma lista com os dados abaixo:
Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

ano	anomalia termica
1900	-0.08
1920	-0.27
1940	0.12
1960	-0.03
1980	0.26
2000	0.40
2020	1.02
Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

In [18]:
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

# Lista com as anomalias térmicas
anomalias_termicas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Criando uma série do pandas
serie_anomalias = pd.Series(anomalias_termicas, index=anos)

print(serie_anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

2) Coloque os anos nos índices conforme a tabela.

In [16]:
dados = {
    "ano": [1900, 1920, 1940, 1960, 1980, 2000, 2020],
    "anomalia_termica": [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
}

# Criando a série com anos como índice
anomalias = pd.Series(data=dados['anomalia_termica'], index=dados['ano'])

print(anomalias)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [17]:
dic_temperaturas = {1900: -0.08, 1920: -0.27, 1940: 0.12, 1960: -0.03, 1980: 0.26, 2000: 0.40, 2020: 1.02}

# Criando a série a partir do dicionário
serie_temperaturas = pd.Series(dic_temperaturas)

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [13]:
arr = np.random.normal(100, 10, (20, 3))

# Convertendo o ndarray para um DataFrame
df = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])

print(df)

       Coluna1     Coluna2     Coluna3
0    90.639355   92.609336   87.334932
1   107.284619   99.564610   83.285053
2    99.383459  122.215669   84.712775
3   105.154266   97.769138   93.852086
4    97.893066   99.958544  115.681063
5   113.484789  110.821149   81.822642
6    84.099087  106.069602   98.044932
7   108.431721   90.772644   99.883348
8   106.736105  103.543487   86.220530
9   114.078128   99.230703  117.631900
10   87.327891   86.805601   86.065552
11  104.375733   87.100496  105.043426
12   89.157004   79.558881  102.155609
13  105.335399   92.185450   97.067419
14   98.812341  114.906077  108.810713
15   85.088757  103.541454   93.435772
16  111.740637  109.035071  107.026271
17   99.961234   97.799884   83.957339
18   96.041619  105.395005  111.731027
19   93.323819   95.550445  113.030881

5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [21]:
arr = np.random.normal(100, 10, (20, 3))

# Convertendo o ndarray para um DataFrame e renomeando as colunas
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])

# Renomeando os índices de 1 a 20
df.index = range(1, 21)

print(df)

            x1          x2          x3
1    93.545889  105.706725   97.762364
2    94.159462  100.522741  107.742616
3   111.857720   90.820774   76.981784
4    85.567822  108.168020   99.570165
5    90.673673  109.438581  114.126519
6    91.265396   98.478832   96.343592
7   114.712805   93.895525   82.617789
8   101.183357  102.329346  103.478962
9   106.346181   96.146458   95.068895
10   75.014170   93.982823   98.510326
11  107.852260  115.992269  101.399700
12  120.371867  107.272899   85.866593
13  104.554008   95.261070   94.333484
14   97.260067  101.923403   95.659537
15  103.697288  116.575960   92.949012
16   99.625590   96.474612   96.332686
17  104.363886  106.879161  111.716366
18  102.045557  106.081237  116.626122
19  105.019653  108.627677  111.786475
20  106.417286  101.457977  114.033493

6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [22]:
# Calculando a média das três colunas e criando a nova coluna 'media'
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

print(df)

            x1          x2          x3       media
1    93.545889  105.706725   97.762364   99.004993
2    94.159462  100.522741  107.742616  100.808273
3   111.857720   90.820774   76.981784   93.220093
4    85.567822  108.168020   99.570165   97.768669
5    90.673673  109.438581  114.126519  104.746258
6    91.265396   98.478832   96.343592   95.362606
7   114.712805   93.895525   82.617789   97.075373
8   101.183357  102.329346  103.478962  102.330555
9   106.346181   96.146458   95.068895   99.187178
10   75.014170   93.982823   98.510326   89.169106
11  107.852260  115.992269  101.399700  108.414743
12  120.371867  107.272899   85.866593  104.503787
13  104.554008   95.261070   94.333484   98.049520
14   97.260067  101.923403   95.659537   98.281002
15  103.697288  116.575960   92.949012  104.407420
16   99.625590   96.474612   96.332686   97.477629
17  104.363886  106.879161  111.716366  107.653138
18  102.045557  106.081237  116.626122  108.250972
19  105.019653  108.627677  111.786475  108.477935
20  106.417286  101.457977  114.033493  107.302919

7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [24]:
df['log_med'] = np.log(df['media'])

print(df)

            x1          x2          x3       media   log_med
1    93.545889  105.706725   97.762364   99.004993  4.595170
2    94.159462  100.522741  107.742616  100.808273  4.613220
3   111.857720   90.820774   76.981784   93.220093  4.534963
4    85.567822  108.168020   99.570165   97.768669  4.582604
5    90.673673  109.438581  114.126519  104.746258  4.651541
6    91.265396   98.478832   96.343592   95.362606  4.557687
7   114.712805   93.895525   82.617789   97.075373  4.575488
8   101.183357  102.329346  103.478962  102.330555  4.628208
9   106.346181   96.146458   95.068895   99.187178  4.597009
10   75.014170   93.982823   98.510326   89.169106  4.490535
11  107.852260  115.992269  101.399700  108.414743  4.685964
12  120.371867  107.272899   85.866593  104.503787  4.649223
13  104.554008   95.261070   94.333484   98.049520  4.585473
14   97.260067  101.923403   95.659537   98.281002  4.587831
15  103.697288  116.575960   92.949012  104.407420  4.648301
16   99.625590   96.474612   96.332686   97.477629  4.579623
17  104.363886  106.879161  111.716366  107.653138  4.678914
18  102.045557  106.081237  116.626122  108.250972  4.684452
19  105.019653  108.627677  111.786475  108.477935  4.686547
20  106.417286  101.457977  114.033493  107.302919  4.675656