In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('demo01.csv') 
print(df.head())

  sexo posse_de_veiculo posse_de_imovel  qtd_filhos            tipo_renda  \
0    M                Y               Y           0               Working
1    F                N               Y           0  Commercial associate
2    F                N               Y           0  Commercial associate
3    M                Y               Y           0               Working
4    F                Y               N           0               Working

                        educacao          estado_civil    tipo_residencia  \
0  Secondary / secondary special               Married  House / apartment
1  Secondary / secondary special  Single / not married  House / apartment
2  Secondary / secondary special  Single / not married  House / apartment
3               Higher education               Married  House / apartment
4              Incomplete higher               Married  House / apartment

       idade  tempo_emprego  possui_celular  possui_fone_comercial  \
0  58.832877       3.106849               1                      0
1  52.356164       8.358904               1                      0
2  52.356164       8.358904               1                      0
3  46.224658       2.106849               1                      1
4  29.230137       3.021918               1                      0

   possui_fone  possui_email  qt_pessoas_residencia    mau
0            0             0                    2.0  False
1            1             1                    1.0  False
2            1             1                    1.0  False
3            1             1                    2.0  False
4            0             0                    2.0  False

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB
None

In [5]:
print(df.isnull().sum())

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [6]:
print("\nDistribuição da variável resposta 'mau':")
print(df['mau'].value_counts(normalize=True))

Distribuição da variável resposta 'mau':
mau
False    0.976577
True     0.023423
Name: proportion, dtype: float64

2) Vamos montar um metadados

In [7]:
df_info = pd.DataFrame({
    'variavel': df.columns,
    'tipo_dado': df.dtypes.values
})

In [8]:
qtd_categorias = []

In [9]:
for coluna in df.columns:
    qtd_categorias.append(df[coluna].nunique())

In [10]:
df_info['qtd_categorias'] = qtd_categorias

In [11]:
print(df_info)

                 variavel tipo_dado  qtd_categorias
0                    sexo    object               2
1        posse_de_veiculo    object               2
2         posse_de_imovel    object               2
3              qtd_filhos     int64               8
4              tipo_renda    object               5
5                educacao    object               5
6            estado_civil    object               5
7         tipo_residencia    object               6
8                   idade   float64            5298
9           tempo_emprego   float64            3005
10         possui_celular     int64               1
11  possui_fone_comercial     int64               2
12            possui_fone     int64               2
13           possui_email     int64               2
14  qt_pessoas_residencia   float64               9
15                    mau      bool               2

3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [12]:
variaveis_qualitativas = df.select_dtypes(include=['object']).columns
print("Variáveis qualitativas identificadas:", variaveis_qualitativas)

Variáveis qualitativas identificadas: Index(['sexo', 'posse_de_veiculo', 'posse_de_imovel', 'tipo_renda', 'educacao',
       'estado_civil', 'tipo_residencia'],
      dtype='object')

In [13]:
df_dummies = pd.get_dummies(df, columns=variaveis_qualitativas, drop_first=True)

In [14]:
variaveis_str = df.select_dtypes(include=['object']).columns
df_final = df_dummies.drop(columns=variaveis_str, errors='ignore')

In [15]:
print("\nDataFrame final com variáveis numéricas:")
print(df_final.head())

DataFrame final com variáveis numéricas:
   qtd_filhos      idade  tempo_emprego  possui_celular  \
0           0  58.832877       3.106849               1
1           0  52.356164       8.358904               1
2           0  52.356164       8.358904               1
3           0  46.224658       2.106849               1
4           0  29.230137       3.021918               1

   possui_fone_comercial  possui_fone  possui_email  qt_pessoas_residencia  \
0                      0            0             0                    2.0
1                      0            1             1                    1.0
2                      0            1             1                    1.0
3                      1            1             1                    2.0
4                      0            0             0                    2.0

     mau  sexo_M  ...  educacao_Secondary / secondary special  \
0  False    True  ...                                    True
1  False   False  ...                                    True
2  False   False  ...                                    True
3  False    True  ...                                   False
4  False   False  ...                                   False

   estado_civil_Married  estado_civil_Separated  \
0                  True                   False
1                 False                   False
2                 False                   False
3                  True                   False
4                  True                   False

   estado_civil_Single / not married  estado_civil_Widow  \
0                              False               False
1                               True               False
2                               True               False
3                              False               False
4                              False               False

   tipo_residencia_House / apartment  tipo_residencia_Municipal apartment  \
0                               True                                False
1                               True                                False
2                               True                                False
3                               True                                False
4                               True                                False

   tipo_residencia_Office apartment  tipo_residencia_Rented apartment  \
0                             False                             False
1                             False                             False
2                             False                             False
3                             False                             False
4                             False                             False

   tipo_residencia_With parents
0                         False
1                         False
2                         False
3                         False
4                         False

[5 rows x 29 columns]

In [16]:
cross_email = pd.crosstab(df['possui_email'], df['mau'], normalize='index')
print("Tabela cruzada para 'possui_email' e 'mau':")
print(cross_email)

Tabela cruzada para 'possui_email' e 'mau':
mau              False     True
possui_email
0             0.976269  0.023731
1             0.979730  0.020270

In [17]:
cross_veiculo = pd.crosstab(df['posse_de_veiculo'], df['mau'], normalize='index')
print("\nTabela cruzada para 'posse_de_veiculo' e 'mau':")
print(cross_veiculo)

Tabela cruzada para 'posse_de_veiculo' e 'mau':
mau                  False     True
posse_de_veiculo
N                 0.975732  0.024268
Y                 0.977905  0.022095